### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

## Player Count

* Display the total number of players

In [3]:
player_count = purchase_data["SN"].nunique()
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Create items only df.  Practice with using smaller df to collect item specific data
items_only_df = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]
items_only_df.head(5)

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [5]:
#Unique items sold
uitem_count = items_only_df["Item ID"].nunique()
print(uitem_count)

179

In [6]:
#Average price of items sold - iavg_priceformat: formatted average price
item_avg_price = items_only_df["Price"].mean()
iavg_priceformat = "${:.2f}".format(item_avg_price)
print(iavg_priceformat)

$3.05

In [7]:
#Total number of items sold
items_sold = items_only_df["Item ID"].count()
print(items_sold)

780

In [8]:
#Total Sales - t_sformat : total sales value formatted
total_sales = items_only_df["Price"].sum()
t_sformat = "${:,.2f}".format(total_sales)
print(t_sformat)

$2,379.77

In [9]:
#Create purchase summary dataframe
pur_sumdf = pd.DataFrame({"Num of Unique Items" : [uitem_count],
                          "Average Price" : [iavg_priceformat],
                          "Num of Pur" : [items_sold],
                          "Total Revenue" : [t_sformat]
                         })
pur_sumdf

   Num of Unique Items Average Price  Num of Pur Total Revenue
0                  179         $3.05         780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
#Create gender demographic df to practice extracting smaller df for specific information
gender_only_df = purchase_data.loc[:,["SN", "Age", "Gender"]]

In [11]:
gender_only_df["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [12]:
male_df = gender_only_df[(gender_only_df["Gender"] == "Male")]
umale_count = male_df["SN"].nunique()
print(umale_count)

484

In [13]:
fmale_df = gender_only_df[(gender_only_df["Gender"] == "Female")]
ufmale_count = fmale_df["SN"].nunique()
print(ufmale_count)

81

In [14]:
ond_df = gender_only_df[(gender_only_df["Gender"] == "Other / Non-Disclosed")]
ond_count = ond_df["SN"].nunique()
print(ond_count)

11

In [15]:
#Total unique players: tup = sum of nunique male, female, OND
tup = umale_count + ufmale_count + ond_count
print(tup)

576

In [16]:
#Caluculate and format Gender Demographics
male_per = (umale_count/tup) * 100
m_pformat = "{:,.2f}%".format(male_per)
fmale_per = (ufmale_count/tup) * 100
fm_pformat = "{:,.2f}%".format(fmale_per)
ond_per = (ond_count/tup) * 100
ond_pformat = "{:,.2f}%".format(ond_per)

In [17]:
#Create dictionary of finalized data, then convert to dataframe
gen_demdict = {"Total Count" : pd.Series([umale_count, ufmale_count, ond_count], 
                           index = ["Male", "Female", "Other / Non-Disclosed"]),
               "Percentage of Players" : pd.Series([m_pformat, fm_pformat, ond_pformat], 
                           index = ["Male", "Female", "Other / Non-Disclosed"])
              }
gen_demdf = pd.DataFrame(gen_demdict)
gen_demdf

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
#Create Total Male dataframe
totalmale_df = purchase_data[(purchase_data["Gender"] == "Male")]
totalmale_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [19]:
tmale_count = totalmale_df["Gender"].count()
tmale_pur = totalmale_df["Price"].mean()
tmale_tpur = totalmale_df["Price"].sum()
tmale_avgpurpm = totalmale_df["Price"].sum() / umale_count

In [20]:
#Create Total Female dataframe
totalfmale_df = purchase_data[(purchase_data["Gender"] == "Female")]

In [21]:
tfmale_count = totalfmale_df["Gender"].count()
tfmale_pur = totalfmale_df["Price"].mean()
tfmale_tpur = totalfmale_df["Price"].sum()
tfmale_avgpurpm = totalfmale_df["Price"].sum() / ufmale_count

In [22]:
#Create Total Other / Non-Disclosed dataframe
totalond_df = purchase_data[(purchase_data["Gender"] == "Other / Non-Disclosed")]

In [23]:
tond_count = totalond_df["Gender"].count()
tond_pur = totalond_df["Price"].mean()
tond_tpur = totalond_df["Price"].sum()
tond_avgpurpm = totalond_df["Price"].sum() / ond_count

In [24]:
pa_genderdf = pd.DataFrame({"Gender" : ["Female", "Male", "Other / Non-Disclosed"],
                          "Purchase Count" : [tfmale_count, tmale_count, tond_count],
                          "Average Purchase Price" : [tfmale_pur, tmale_pur, tond_pur],
                          "Total Purchase Value" : [tfmale_tpur, tmale_tpur, tond_tpur],
                          "Avg Total Purchase / Person" : [tfmale_avgpurpm, tmale_avgpurpm, tond_avgpurpm,]
                         })

In [25]:
pa_genderdf.style.format({'Average Purchase Price': "${:.2f}", 
                          'Total Purchase Value': "${:.2f}",
                          'Avg Total Purchase / Person' : "${:.2f}"}
                        ).hide_index()

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [26]:
#Establish age bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age_Range"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39

In [27]:
purchase_data["Age_Range"].value_counts()

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age_Range, dtype: int64

In [28]:
u10_df = purchase_data[(purchase_data["Age"] <10)]
u10_count = u10_df["SN"].nunique()
print(u10_count)

17

In [29]:
ten14_df = purchase_data[(purchase_data["Age"].between(10,14,))]
ten14_count = ten14_df["SN"].nunique()
print(ten14_count)

22

In [30]:
fif19_df = purchase_data[(purchase_data["Age"].between(15,19,))]
fif19_count = fif19_df["SN"].nunique()
print(fif19_count)

107

In [31]:
twe24_df = purchase_data[(purchase_data["Age"].between(20,24,))]
twe24_count = twe24_df["SN"].nunique()
print(twe24_count)

258

In [32]:
tw2529_df = purchase_data[(purchase_data["Age"].between(25,29,))]
tw2529_count = tw2529_df["SN"].nunique()
print(tw2529_count)

77

In [33]:
thi34_df = purchase_data[(purchase_data["Age"].between(30,34,))]
thi34_count = thi34_df["SN"].nunique()
print(thi34_count)

52

In [34]:
th3539_df = purchase_data[(purchase_data["Age"].between(35,39,))]
th3539_count = th3539_df["SN"].nunique()
print(th3539_count)

31

In [35]:
o40_df = purchase_data[(purchase_data["Age"] >39)]
o40_count = o40_df["SN"].nunique()
print(o40_count)

12

In [36]:
#Determine total unique population in age range  - check against total unique previously obtained
tuar = o40_count+th3539_count+thi34_count+tw2529_count+twe24_count+fif19_count+ten14_count+u10_count
tuar

576

In [37]:
#Caluculate and format Age Demographics
u10_per = (u10_count/tuar) * 100
u10_pformat = "{:,.2f}%".format(u10_per)
ten14_per = (ten14_count/tuar) * 100
ten14_pformat = "{:,.2f}%".format(ten14_per)
fif19_per = (fif19_count/tuar) * 100
fif19_pformat = "{:,.2f}%".format(fif19_per)
twe24_per = (twe24_count/tuar) * 100
twe24_pformat = "{:,.2f}%".format(twe24_per)
tw2529_per = (tw2529_count/tuar) * 100
tw2529_pformat = "{:,.2f}%".format(tw2529_per)
thi34_per = (thi34_count/tuar) * 100
thi34_pformat = "{:,.2f}%".format(thi34_per)
th3539_per = (th3539_count/tuar) * 100
th3539_pformat = "{:,.2f}%".format(th3539_per)
o40_per = (o40_count/tuar) * 100
o40_pformat = "{:,.2f}%".format(o40_per)

In [38]:
#Create dictionary of finalized data, then convert to dataframe
age_demdict = {"Total Count" : pd.Series([u10_count, ten14_count, fif19_count, twe24_count, tw2529_count, thi34_count, th3539_count,o40_count], 
                           index = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]),
               "Percentage of Players" : pd.Series([u10_pformat, ten14_pformat, fif19_pformat, twe24_pformat, tw2529_pformat, thi34_pformat, th3539_pformat,o40_pformat], 
                           index = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
              }
age_demdf = pd.DataFrame(age_demdict)
age_demdf

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
#Establish age bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age_Range"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39

In [40]:
#Create dataframes
totalu10_df = purchase_data[(purchase_data["Age"] < 10)]
totalten14_df = purchase_data[(purchase_data["Age"].between(10,14,))]
totalfif19_df = purchase_data[(purchase_data["Age"].between(15,19,))]
totaltwe24_df = purchase_data[(purchase_data["Age"].between(20,24,))]
totaltw2529_df = purchase_data[(purchase_data["Age"].between(25,29,))]
totalthi34_df = purchase_data[(purchase_data["Age"].between(30,34,))]
totalth3539_df = purchase_data[(purchase_data["Age"].between(35,39,))]
totalo40_df = purchase_data[(purchase_data["Age"] > 39)]

In [41]:
tu10_count = totalu10_df["Age"].count()
tu10_pur = totalu10_df["Price"].mean()
tu10_tpur = totalu10_df["Price"].sum()
tu10_avgpurpm = totalu10_df["Price"].sum() / u10_count

In [42]:
tten14_count = totalten14_df["Age"].count()
tten14_pur = totalten14_df["Price"].mean()
tten14_tpur = totalten14_df["Price"].sum()
tten14_avgpurpm = totalten14_df["Price"].sum() / ten14_count

In [43]:
tfif19_count = totalfif19_df["Age"].count()
tfif19_pur = totalfif19_df["Price"].mean()
tfif19_tpur = totalfif19_df["Price"].sum()
tfif19_avgpurpm = totalfif19_df["Price"].sum() / fif19_count

In [44]:
ttwe24_count = totaltwe24_df["Age"].count()
ttwe24_pur = totaltwe24_df["Price"].mean()
ttwe24_tpur = totaltwe24_df["Price"].sum()
ttwe24_avgpurpm = totaltwe24_df["Price"].sum() / twe24_count

In [45]:
ttw2529_count = totaltw2529_df["Age"].count()
ttw2529_pur = totaltw2529_df["Price"].mean()
ttw2529_tpur = totaltw2529_df["Price"].sum()
ttw2529_avgpurpm = totaltw2529_df["Price"].sum() / tw2529_count

In [46]:
tthi34_count = totalthi34_df["Age"].count()
tthi34_pur = totalthi34_df["Price"].mean()
tthi34_tpur = totalthi34_df["Price"].sum()
tthi34_avgpurpm = totalthi34_df["Price"].sum() / thi34_count

In [47]:
tth3539_count = totalth3539_df["Age"].count()
tth3539_pur = totalth3539_df["Price"].mean()
tth3539_tpur = totalth3539_df["Price"].sum()
tth3539_avgpurpm = totalth3539_df["Price"].sum() / th3539_count

In [48]:
to40_count = totalo40_df["Age"].count()
to40_pur = totalo40_df["Price"].mean()
to40_tpur = totalo40_df["Price"].sum()
to40_avgpurpm = totalo40_df["Price"].sum() / o40_count

In [49]:
pa_agedf = pd.DataFrame({"Age Ranges" : ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                          "Purchase Count" : [tu10_count, tten14_count, tfif19_count, ttwe24_count, ttw2529_count, tthi34_count, tth3539_count, to40_count],
                          "Average Purchase Price" : [tu10_pur, tten14_pur, tfif19_pur, ttwe24_pur, ttw2529_pur, tthi34_pur, tth3539_pur, to40_pur],
                          "Total Purchase Value" : [tu10_tpur, tten14_tpur, tfif19_tpur, ttwe24_tpur, ttw2529_tpur, tthi34_tpur, tth3539_tpur, to40_tpur],
                          "Avg Total Purchase / Person" : [tu10_avgpurpm, tten14_avgpurpm, tfif19_avgpurpm, ttwe24_avgpurpm, ttw2529_avgpurpm, tthi34_avgpurpm, tth3539_avgpurpm, to40_avgpurpm]
                         })

In [50]:
pa_agedf.style.format({'Average Purchase Price': "${:.2f}", 
                          'Total Purchase Value': "${:,.2f}",
                          'Avg Total Purchase / Person' : "${:.2f}"}
                        ).hide_index()

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [51]:
sn_sort_df = purchase_data.loc[:,["SN", "Item ID", "Price"]]
#items_only_df = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]
sn_sort_df.head(25)

               SN  Item ID  Price
0         Lisim78      108   3.53
1     Lisovynya38      143   1.56
2      Ithergue48       92   4.88
3   Chamassasya86      100   3.27
4       Iskosia90      131   1.44
5         Yalae81       81   3.61
6       Itheria73      169   2.18
7     Iskjaskst81      162   2.67
8       Undjask33       21   1.10
9     Chanosian48      136   3.58
10      Inguron55       95   4.74
11   Haisrisuir60      162   2.67
12   Saelaephos52      116   4.18
13    Assjaskan73        4   1.70
14    Saesrideu94      165   4.86
15      Lisassa64       98   2.89
16      Lisirra25       40   2.52
17      Zontibe81      161   1.76
18      Reunasu60       82   4.90
19      Chamalo71       89   4.64
20   Iathenudil29       57   4.60
21  Phiarithdeu40      168   1.48
22   Siarithria38       24   3.81
23       Eyrian71      151   3.40
24        Siala43      132   3.19

In [94]:
sn_group = sn_sort_df.groupby("SN")
sncount = sn_group["SN"].count()
sn_countdict = dict(sncount)
sn_countdf = pd.DataFrame.from_dict(sn_countdict, orient='index', columns = ["Purchase Counts"])
sn_countdf.columns.name = "SN"

sntotalp = sn_group["Price"].sum()
sn_totalpdict = dict(sntotalp)
sn_totalpdf = pd.DataFrame.from_dict(sn_totalpdict, orient='index', columns = ["Total Purchase Price"])
sn_totalpdf.columns.name = "SN"

snavg = sn_group["Price"].mean()
sn_snavgdict = dict(snavg)
sn_snavgdf = pd.DataFrame.from_dict(sn_snavgdict, orient='index', columns = ["Avg Purchase Price"])
sn_snavgdf.columns.name = "SN"

In [101]:
result = pd.merge(sn_countdf, sn_totalpdf, left_index == SN, how ='outer')

NameError: name 'left_index' is not defined

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80